<h3>&#64;if and &#64;else</h3>
<div>
<input #checkbox type="checkbox" [checked]="isChecked()" (change)="isChecked.set(checkbox.checked)" id="checkbox"/>
</div>
<div>
@if (isChecked()) {
<span>Checked</span>
}
@else {
<span>Not checked</span>
}
</div>

<!-- "as" expression is only allowed on the primary @if block, so as user2 will be deleted -->
@if (users$   |   async;   as   users) { {{   users.length   }} }
@else if (users2$   |   async;   as   users2) { {{   users.length   }} }

<div *ngIf="users$   |   async;   as   users">{{   users.length   }}</div>

@else {}


@if (isDev) {}
@else             if (test) {}

@if      (foo(     "quotes")) {}
@else if (foo(     'quotes')) {}
